<section id="About_us">
    <h1 style="color: white">About us</h1>
    <p>
      Lorem ipsum doloreprehenderituptates totam qui, conibus unde
      voluptatibus id commodi sapiente quo tempora minima rerum!
    </p>
    <div class="icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-skype" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
    <h3 style="text-align: center">
      &copy; Copyright Food Court. All Right Reserved
    </h3>
  </section>