<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <%- include("header") -%> 
    <div class="main_logo_page">
        <div class="logo">
            <img src="" alt="Logo Image">
            <form action="/login" method="post">
                <p>Email <br> <input type="email" name="email" ></p>
                <p>Password <br> <input type="password" name="password" ></p>
                <button type="submit">Login</button>
                <p>or</p>
                <p>create a new account </p>
          
            </form>
            <a href="/register"><input type="button" value="Signup"></a>
        </div>
    </div>
</body>
</html>