<form action="/api/product" method="post">
    <input type="text" name="pname" placeholder="product Name">
    <input type="text" name="category" id="" placeholder="product category">
    <input type="number" name="price" id="" placeholder="Product price">
    <input type="text" name="description" id="" placeholder="Product description">
    <input type="text" placeholder="Mood" name="mood">
    <input type="file" name="image" value="" id="">
    <button type="submit">submit</button>
</form>