<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Food Court</title>
</head>
<body>
    <%-include("header",{logo})  %> 
    <div class="container-fluid bg-light text-dark text-center d-flex flex-column align-self-center justify-content-center row mt-5 p-5 " style="height: 90vh;width:100%;padding-top:50vh;">
        
             <h3 class="mt-5 py-5">Welcome back!,Login or signup here </h3>
             <div class="col ">
                
                <a href="/login"><button class="btn btn-dark px-4 m-3">Login </button></a>
                <a href="/register"><button class="btn btn-dark px-4 m-3">Register </button></a>
             </div>
    </div>
</body>
</html>