<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Recipie.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>

<body>
  <%-include("header",{logo}) -%>
    <section id="food_Recipie">
      <div class="banner_Section  d-flex align-items-start justify-content-center">
        <div class="bannerWrapper  bg-dark" style="width:750px ;">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block " src="/Image/Image1.jpg" alt="First slide" style="width: 750px;height:400px">
              </div>
              <div class="carousel-item active">
                <img class="d-block " src="/Image/Image2.jpg" alt="Second slide" style="width: 750px;height:400px">
              </div>
              <div class="carousel-item">
                <img class="d-block " src="/Image/Image3.jpg" alt="Third slide" style="width: 750px;height:400px">
              </div>
            </div>
          </div>
        </div>
        <div class="banner_item">
          <div class="card p-2 align-items-start " style="width: 20rem;">
            <div class="p-2">
              <p class="fw-bold fs-4">Fresh recipes</p>
            </div>
            <hr>
            <div class="row p-1">
              <div class="col col-lg-5">
                <img src="/Image/Image4.jpg" alt="" width="100px">
              </div>
              <div class="col col-lg-7">
                <h5>Dolore Mefease</h5>
                <h6 class="fw-light">Lorem ipsuadipisicing elit. Accusantium, pariatur?</h6>

              </div>
            </div>
            <hr>
            <div class="row p-1">
              <div class="col col-lg-5">
                <img src="/Image/Image4.jpg" alt="" width="100px">
              </div>
              <div class="col col-lg-7">
                <h5>Dolore Mefease</h5>
                <h6 class="fw-light">Lorem ipsuadipisicing elit. Accusantium, pariatur?</h6>

              </div>
            </div>
            <button class="btn  text-light radius-0" style="background-color: orange;">View all</button>
          </div>
        </div>
      </div>

      <div class="container text-center mt-5 p-3">
        <h1 class="fw-light"><span class="text-danger">Make</span> Your Life Tasty !</h1>
        <p class="m-4" style="color: gray;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae incidunt aut
          doloremque? Molestiae error autem vel a omnis voluptate, illo accusantium, velit laudantium exercitationem, id
          alias distinctio repudiandae cum voluptatum minima at! Neque, aspernatur maxime? Ullam ipsa illum est, commodi
          repellat, ducimus incidunt minima qui minus quisquam error cum!</p>
        <div class="container-fluid my-4 d-flex justify-content-around ">
          <div class="card align-items-center p-2" style="width: 20rem;">
            <div class="card-heading">
              <img src="/Image/Image4.jpg" alt="" width="100%" height="200px">
            </div>
            <h3 class="fw-light p-2 text-uppercase" style="color:rgb(122, 42, 13);">Decorating & Banking cupcake</h3>
            <hr>

            <p class="fw-light fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, iste! Nam
              illum necessitatibus, perforem autem nostrum fuga, doloribus quae porro ipsum quo quas hic eos ipsa
              impedit dolorum similique sed distinctio, dolore natus. Aliquid?</p>


            <button class="btn text-light" style="background-color: rgb(122, 42, 13);">more</button>
          </div>
          <div class="card align-items-center p-2" style="width: 20rem;">
            <div class="card-heading">
              <img src="/Image/Image4.jpg" alt="" width="100%" height="200px">
            </div>
            <h3 class="fw-light p-2 text-uppercase" style="color:rgb(122, 42, 13);">Decorating & Banking cupcake</h3>
            <hr>

            <p class="fw-light fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, iste! Nam
              illum necessitatibus, perforem autem nostrum fuga, doloribus quae porro ipsum quo quas hic eos ipsa
              impedit dolorum similique sed distinctio, dolore natus. Aliquid?</p>


            <button class="btn text-light" style="background-color: rgb(122, 42, 13);">more</button>
          </div>
          <div class="card align-items-center p-2" style="width: 20rem;">
            <div class="card-heading">
              <img src="/Image/Image4.jpg" alt="" width="100%" height="200px">
            </div>
            <h3 class="fw-light p-2 text-uppercase" style="color:rgb(122, 42, 13);">Decorating & Banking cupcake</h3>
            <hr>

            <p class="fw-light fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, iste! Nam
              illum necessitatibus, perforem autem nostrum fuga, doloribus quae porro ipsum quo quas hic eos ipsa
              impedit dolorum similique sed distinctio, dolore natus. Aliquid?</p>
            <button class="btn text-light" style="background-color: rgb(122, 42, 13);">more</button>
          </div>
        </div>
      </div>
       <div class="text-center m-3">
        <h1 class="fw-light"><span class="text-danger">Best </span> Recipie here!</h1>
      <div class="container-fluid m-2 p-3 d-flex justify-content-around ms-auto">
       <div class="row row-cols-sm-2 gy-2">
           <div class="card m-2 p-1" style="width: 240px;">
             <img src="/Image/Image1.jpg" alt="the users " width="230px" height="170px">
             <div class="card-body">
                 <p class="foodTitle fw-bold fz-3">Food name</p>
                 <p class="ingredients">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
             </div>
           </div>
           <div class="card m-2 p-1" style="width: 240px;">
            <img src="/Image/Image1.jpg" alt="the users " width="230px" height="170px">
            <div class="card-body">
                <p class="foodTitle fw-bold fz-3">Food name</p>
                <p class="ingredients">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>
          <div class="card m-2 p-1" style="width: 240px;">
            <img src="/Image/Image1.jpg" alt="the users " width="230px" height="170px">
            <div class="card-body">
                <p class="foodTitle fw-bold fz-3">Food name</p>
                <p class="ingredients">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>
          <div class="card m-2 p-1" style="width: 240px;">
            <img src="/Image/Image1.jpg" alt="the users " width="230px" height="170px">
            <div class="card-body">
                <p class="foodTitle fw-bold fz-3">Food name</p>
                <p class="ingredients">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <script>
      const foodTitle=document.querySelectorAll(".foodTitle");
      const ingredients=document.querySelectorAll(".ingredients");
      const options = {
        method: 'GET',
        headers: {
          'X-RapidAPI-Key': '8750876a1emsh9fd03d92ec9c476p10c7b2jsn2e2337f5ed7a',
          'X-RapidAPI-Host': 'recipe-by-api-ninjas.p.rapidapi.com'
        }
      };
      const getData=()=>{
      fetch('https://recipe-by-api-ninjas.p.rapidapi.com/v1/recipe?query=italian%20wedding%20soup', options)
        .then(response => response.json())
        .then(response =>{
          console.log(response)
          for(let i=0;i<response.length;i++){
            ingredients[i].innerHTML=response[i].ingredients.substring(0,25)+"..."
            foodTitle[i].innerHTML=response[i].title
          }
          

          
        })
        .catch(err => console.error(err));
      }
     
     getData();
     

    </script>
    <%-include("footer") -%>
</body>

</html>